# Preparing Polkadot pallet Balances for Formal Verification

- [Preparing Polkadot pallet Balances for Formal Verification](#preparing-polkadot-pallet-balances-for-formal-verification)
  - [Introduction](#introduction)
  - [Reproducibility guide](#reproducibility-guide)
  - [WASM binary compilation artifacts](#wasm-binary-compilation-artifacts)
  - [Textual description of fungible traits specification](#textual-description-of-fungible-traits-specification)
  - [Discovered assumptions regarding execution environment](#discovered-assumptions-regarding-execution-environment)
  - [Public functions, involved in implementation of traits](#public-functions-involved-in-implementation-of-traits)
    - [Inspect](#inspect)
    - [Unbalanced](#unbalanced)
    - [UnbalancedHold](#unbalancedhold)
    - [Mutate](#mutate)
    - [InspectHold](#inspecthold)
    - [MutateHold](#mutatehold)
    - [UnbalancedHold](#unbalancedhold-1)
    - [InspectFreeze](#inspectfreeze)
    - [MutateFreeze](#mutatefreeze)
    - [Balanced](#balanced)
  - [Cleaned up and annotated WASM module of `pallet_balances`](#cleaned-up-and-annotated-wasm-module-of-pallet_balances)
  - [Rust implementation](#rust-implementation)
  - [Conformance tests](#conformance-tests)
  - [Conclusion](#conclusion)
  - [References](#references)


## Introduction

## Reproducibility guide

## WASM binary compilation artifacts

## Textual description of fungible traits specification

## Discovered assumptions regarding execution environment

## Public functions, involved in implementation of traits

### Inspect

### Unbalanced

### UnbalancedHold

### Mutate

### InspectHold

### MutateHold

### UnbalancedHold

### InspectFreeze

### MutateFreeze

### Balanced

## Cleaned up and annotated WASM module of `pallet_balances`

## Rust implementation

## Conformance tests

## Conclusion

## References
