# Preparing Polkadot pallet Balances for Formal Verification
